replicaCount: 1

image:
  repository: ghcr.io/monstrokosilka/final/frontend
  tag: ""
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  name: app-ingress
  className: nginx
  host: app.local
  path: /
  pathType: Prefix

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

containerPort: 80