server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /positions/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s

    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container'

      # сделаем красивые лейблы именно backend/frontend
      - source_labels: ['container']
        regex: '.*backend.*'
        target_label: 'app'
        replacement: 'backend'
      - source_labels: ['container']
        regex: '.*frontend.*'
        target_label: 'app'
        replacement: 'frontend'

    pipeline_stages:
      - docker: {}
