{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ include "monitoring.ns" . }}
  labels:
    {{- include "monitoring.labels" . | nindent 4 }}
spec:
  selector:
    app: prometheus
  ports:
    - name: http
      port: 9090
      protocol: TCP
      targetPort: 9090
{{- end }}