replicaCount: 1

image:
  repository: ghcr.io/monstrokosilka/final/backend
  tag: ""
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8081
  targetPort: 8081
  name: metrics

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

containerPort: 8081