apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
data:
  datasources.yaml: |
    apiVersion: 1

    datasources:
      - name: Prometheus
        uid: prometheus
        type: prometheus
        url: http://prometheus.monitoring:9090
        isDefault: true

      - name: Loki
        uid: loki
        type: loki
        url: http://loki.monitoring:3100
