apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: promtail
  template:
    metadata:
      labels:
        app: promtail
    spec:
      serviceAccountName: promtail
      containers:
        - name: promtail
          image: grafana/promtail:3.0.0
          args:
            - -config.file=/etc/promtail/config.yml
            - -log.level=debug
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"
          volumeMounts:
            - name: promtail-config
              mountPath: /etc/promtail/config.yml
              subPath: config.yml
              readOnly: true

            - name: varlog
              mountPath: /var/log
              readOnly: true

            - name: positions
              mountPath: /positions

            - name: varlogcontainers
              mountPath: /var/log/containers
              readOnly: true

            - name: varlogpods
              mountPath: /var/log/pods
              readOnly: true

            - name: docker-containers
              mountPath: /var/lib/docker/containers
              readOnly: true

      volumes:
        - name: promtail-config
          configMap:
            name: promtail-config
        - name: varlog
          hostPath:
            path: /var/log
        - name: positions
          hostPath:
            path: /var/lib/promtail
            type: DirectoryOrCreate
        - name: varlogcontainers
          hostPath:
            path: /var/log/containers
        - name: varlogpods
          hostPath:
            path: /var/log/pods
        - name: docker-containers
          hostPath:
            path: /var/lib/docker/containers
